.Chart-main{
  width: 70%;
  height: 300px;
  margin: auto;
  padding-bottom: 20px;
}
.userimg {
  height: 50px !important;
  width: 50px !important;
}
.dir-rat{
  overflow:auto !important;
  height: auto !important;
  max-height : 400px;
}
.dir-rat-review{
  height: 150px !important;
}


element.style {
  width: 950px;
  height: auto;
  z-index: 1001;
  margin-top: 200px !important;
}


// .p-dialog-content{
//   margin-top: 0px !important;
// }
.fa-smile{
  color: none !important;
}
.fa-angry{
  color: none !important;
}
.fa-meh{
  color: none !important;
}