<app-header></app-header>
<div class="container-fluid sb2">
  <div class="row">
    <app-sidebar></app-sidebar>
<div class="sb2-2">
  <div class="sb2-2-2">
      <ul>
          <li><a ><i class="fa fa-home" aria-hidden="true"></i> Home</a>
          </li>
          <li class="active-bre"><a href="#">Documents</a>
          </li>
      </ul>
  </div>
  <div class="sb2-2-3">
      <div class="row">

        <app-crud-documents></app-crud-documents>



      </div>
    </div>
  </div>

  </div>
  </div>
