<div [formGroup]="form">






  <div [ngSwitch]="question.type">

  <div *ngSwitchCase="'textbox'" class="mt-4 mb-4">
    <label class="mr-4 mb-4" >{{question.label}} </label>
    <p-inputSwitch [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" (onChange)="ToggleRequired($event)"></p-inputSwitch>

  <div class="row">
    <div class="col-md-10">
  <input class="form-control"  placeholder="short answer ({{question.input_type}})" [disabled]="true">
</div>


  <div class="col-md-2 ">
<div class="row justify-content-center">


    <p-dropdown
    [options]="inputs"
    [(ngModel)]="SelectedOption"
    [ngModelOptions]="{standalone: true}"
    (onChange)="Change($event)"
    optionLabel="label"
    optionValue="id"
    optionDisabled="inactive"
  ></p-dropdown>
</div>
   </div>
   <!--<div class="col-md-1">
   </div> -->
  </div>
</div>

<div *ngSwitchCase="'textarea'" class="m-4">
  <label class="mr-4 mb-4" >{{question.label}} </label>
  <p-inputSwitch [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" (onChange)="ToggleRequired($event)"></p-inputSwitch>

  <input class="form-control"    placeholder="write your question..."
  [id]="question.key" >

  <div class="row">
    <div class="col-md-10">

  <textarea  class="form-control"  placeholder="long answer"  [disabled]="true"> </textarea>
</div>


<div class="col-md-2">

  <p-dropdown
  [options]="inputs"
  [(ngModel)]="SelectedOption"
  [ngModelOptions]="{standalone: true}"
  (onChange)="Change($event)"
  optionLabel="label"
  optionValue="id"
  optionDisabled="inactive"
></p-dropdown>
 </div>

</div>

</div>

<div  *ngSwitchCase="'dropdown'" class="mt-4 mb-4">
  <label class="mr-4 mb-4" >{{question.label}} </label>
  <p-inputSwitch [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" (onChange)="ToggleRequired($event)"></p-inputSwitch>

  <!-- <input class="form-control"   placeholder="write your question..."
  [id]="question.key"  [type]="question.type" [(ngModel)]="Questionvalue" [ngModelOptions]="{standalone: true}" (change)="changeValue()"> -->

  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let item of question.options; let i = index ">
        <div>
          <div class="row">
            <div class="col-md-12">
              <input [attr.id]="item" type="text"  value={{item}}  disabled required >

            </div>
          </div>
        </div>
      </div>
      </div>

      <!-- <input type="text" id="AddInput"  (keyup.enter)="SaveOption($event)" [(ngModel)]="InputValue"   [ngModelOptions]="{standalone: true}" value=""> -->


    </div>

    <div class="row justify-content-start">
    <div class="col">

      <p-dropdown
    [options]="inputs"
    [(ngModel)]="SelectedOption"
    [ngModelOptions]="{standalone: true}"
    (onChange)="Change($event)"
    optionLabel="label"
    optionValue="id"
    optionDisabled="inactive"
  ></p-dropdown>
   </div>
  </div>

  </div>

<!-- CheckBox -->

<div  *ngSwitchCase="'checkbox'" class="mt-4 mb-4">
  <label class="mr-4 mb-4" >{{question.label}} </label>
  <p-inputSwitch [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" (onChange)="ToggleRequired($event)"></p-inputSwitch>

  <input class="form-control"    placeholder="write your question..."
    [id]="question.key"  [type]="question.type" [(ngModel)]="Questionvalue" [ngModelOptions]="{standalone: true}" (change)="changeValue()">

  <div class="row">
    <div class="col-md-12">

      <div *ngFor="let item of question.options; let i = index ">
        <div>
          <div class="row">
            <div class="col-md-12">
              <input [attr.id]="item" type="text"  value={{item}}  disabled required >

            </div>
          </div>
        </div>
      </div>
      </div>

      <!-- <input type="text" id="AddInput"  (keyup.enter)="SaveOption($event)" [(ngModel)]="InputValue"   [ngModelOptions]="{standalone: true}" value=""> -->


    </div>

    <div class="row justify-content-start">
    <div class="col">

      <p-dropdown
    [options]="inputs"
    [(ngModel)]="SelectedOption"
    [ngModelOptions]="{standalone: true}"
    (onChange)="Change($event)"
    optionLabel="label"
    optionValue="id"
    optionDisabled="inactive"
  ></p-dropdown>
   </div>
  </div>


  </div>

  <div  *ngSwitchCase="'radiobox'" class="mt-4 mb-4">
    <label class="mr-4 mb-4" >{{question.label}} </label>
    <p-inputSwitch [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" (onChange)="ToggleRequired($event)"></p-inputSwitch>

    <div class="row">
      <div class="col-md-12">

        <div *ngFor="let item of question.options; let i = index ">
          <div>
            <div class="row">
              <div class="col-md-12">
                <input [attr.id]="item" type="text"  value={{item}}  disabled required >

              </div>
            </div>

        </div>
        </div>

        <!-- <input type="text" id="AddInput"  (keyup.enter)="SaveOption($event)" [(ngModel)]="InputValue"   [ngModelOptions]="{standalone: true}" value=""> -->


      </div>
    </div>

      <div class="row justify-content-start">
      <div class="col">

        <p-dropdown
      [options]="inputs"
      [(ngModel)]="SelectedOption"
      [ngModelOptions]="{standalone: true}"
      (onChange)="Change($event)"
      optionLabel="label"
      optionValue="id"
      optionDisabled="inactive"
    ></p-dropdown>
     </div>
    </div>


  </div>

  <div *ngSwitchCase="'date'" class="mt-4 mb-4">
    <label class="mr-4 mb-4" >{{question.label}} </label>
    <p-inputSwitch [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" (onChange)="ToggleRequired($event)"></p-inputSwitch>

    <input class="form-control"    placeholder="write your question..."
    [id]="question.key"  [type]="question.type" [(ngModel)]="Questionvalue" [ngModelOptions]="{standalone: true}" (change)="changeValue()">

    <div class="row">
      <div class="col-md-10">
        <input class="form-control"  placeholder="date" [disabled]="true">
        <span class="form-control-feedback"><i class="fa fa-calendar"></i></span>
      </div>

      <div class="col-md-2 ">
        <div class="row justify-content-center">


            <p-dropdown
            [options]="inputs"
            [(ngModel)]="SelectedOption"
            [ngModelOptions]="{standalone: true}"
            (onChange)="Change($event)"
            optionLabel="label"
            optionValue="id"
            optionDisabled="inactive"
          ></p-dropdown>
        </div>
           </div>

    </div>



  </div>

  <div *ngSwitchCase="'file'" class="mt-4 mb-4">
    <label class="mr-4 mb-4" >{{question.label}} </label>
    <p-inputSwitch [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" (onChange)="ToggleRequired($event)"></p-inputSwitch>

    <div class="row">
      <div class="col-md-10">
    <input type="file" class="form-control"  placeholder="short answer ({{question.input_type}})" [disabled]="true">
  </div>


  <div class="col-md-2 ">
    <div class="row justify-content-center">
        <p-dropdown
        [options]="inputs"
        [(ngModel)]="SelectedOption"
        [ngModelOptions]="{standalone: true}"
        (onChange)="Change($event)"
        optionLabel="label"
        optionValue="id"
        optionDisabled="inactive"
      ></p-dropdown>
    </div>
       </div>


    </div>
  </div>

  <div  *ngSwitchCase="'Relationship'" class="mt-4 mb-4">
    <label class="mr-4 mb-4" >{{question.label}} </label>
    <p-inputSwitch [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" (onChange)="ToggleRequired($event)"></p-inputSwitch>

    <!-- <input class="form-control"   placeholder="write your question..."
    [id]="question.key"  [type]="question.type" [(ngModel)]="Questionvalue" [ngModelOptions]="{standalone: true}" (change)="changeValue()"> -->


  <div class="row">
    <div class="col-md-10">
  <input class="form-control"  placeholder="short answer ({{question.input_type}})" [disabled]="true">
</div>


  <div class="col-md-2 ">
<div class="row justify-content-center">


    <p-dropdown
    [options]="inputs"
    [(ngModel)]="SelectedOption"
    [ngModelOptions]="{standalone: true}"
    (onChange)="Change($event)"
    optionLabel="label"
    optionValue="id"
    optionDisabled="inactive"
  ></p-dropdown>
</div>
   </div>
  </div>

  <div class="errorMessage" *ngIf="!isValid">{{"question.label"}} is required</div>

</div>
</div>
