<div class="row">
  <div class="col-md-3 dir-rat-left">
    <img class="userimg" [src]='environment+"/storage/images/Users/"+comment.photo' alt="Comment.name">
    <p>{{comment.name}} <span>{{comment.pivot.created_at | date}}</span> </p>

  </div>
  <div class="col-md-9 dir-rat-right">
    <!-- <div class="dir-rat-star"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </div> -->
    <p>{{comment.pivot.message}}</p>

    <ul>
      <li><a (click)="Like(comment,true)" ><span>Like</span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a> </li>
      <li><a  (click)="Like(comment,false)" ><span>Dis-Like</span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a> </li>
      <li *ngIf="IsConnectedUser(comment)"><a > <span (click)="EditComment(comment)">Edit</span> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> </li>
      <li *ngIf="IsConnectedUser(comment)" ><a ><span (click)="DeleteComment(comment)" >Delete</span> <i class="fa fa-trash-o" aria-hidden="true"></i></a> </li>
    </ul>
  </div>
</div>
<p-toast [style]="{ marginTop: '80px' }"></p-toast>
<p-dialog [contentStyle]="{'overflow':'visible'}" [(visible)]="displayModal" [style]="{width: '650px'}" header="Input Details" [modal]="true" styleClass="p-fluid" (onHide)="hideDialog()">
  <!-- <div  [style]="{'width':'100%'}" > -->

  <ng-template pTemplate="content" [style]="{'width':'100%'}">

    <form  [formGroup]="Updateform">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
          <label for="label" ><h5>Comment</h5></label>
          <input formControlName="updatedtext" id="label" type="text" pInputText>
      </div>



</div>

</form>

</ng-template>
<p-footer>
  <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
  <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="UpdatedForm()"></button>

</p-footer>


<!-- </div> -->
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
