<div class="col-md-3 tour_r">

  <!--====== PUPULAR TOUR PACKAGES ==========-->
  <div class="tour_right tour_rela tour-ri-com">

  <!--====== HELP PACKAGE ==========-->

  <div class="tour_right head_right tour_help tour-ri-com">
    <h3>Address</h3>
    <div class="tour_help_1">
      <h5><i class="fa fa-map-marker pull-left" aria-hidden="true"></i> {{Etablissement.addresse}}</h5>
    </div>
  </div>


  <div class="tour_right head_right tour_help tour-ri-com">
    <h3>Help & Support</h3>
    <div class="tour_help_1">
      <!-- <h4 class="tour_help_1_call">Call Us Now</h4> -->
      <h5><i class="fa fa-phone" aria-hidden="true"></i> {{Etablissement.phone_number}}</h5>

      <h5><i class="fa fa-envelope" aria-hidden="true"></i> {{Etablissement.email}}</h5></div>
    </div>


    <div class="tour_right tour_incl tour-ri-com">
      <h3>Who are we?</h3>
     <div id="video">
      <iframe [src]='safeURL' frameborder="0" allowfullscreen></iframe>
     </div>
    </div>



      <!--====== PACKAGE SHARE ==========-->
  <div class="tour_right head_right tour_social tour-ri-com">
    <h3>Find us on social media</h3>
    <ul>
      <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
      <li><a><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
      <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
      <li><a><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
      <li><a><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
    </ul>
  </div>

</div>

</div>
