<!--====== FOOTER 1 ==========-->
<section>

  </section>
  <!--====== FOOTER 2 ==========-->
  <section>
  <div class="rows">
  <div class="footer ">
    <div class="container mt-5">
      <div class="foot-sec2">
        <div>
          <div class="row">

            <div class="col-sm-4 foot-spec foot-com">
              <h4><span>Address</span> & Contact Info</h4>
              <p>{{Etablissement?.addresse}}</p>
              <p> <span class="strong">Phone: </span> <span class="highlighted">+{{Etablissement?.phone_number}}</span> </p>
              <p> <span class="strong">Email: </span> <span class="">{{Etablissement?.email}}</span> </p>
               </div>

            <div class="col-sm-4 col-md-3 foot-spec foot-com">
              <h4><span>SUPPORT</span> & HELP</h4>
              <ul class="two-columns">
                <li> <a href="#">About Us</a> </li>
                <li> <a href="#">FAQ</a> </li>
                <li> <a href="#">Feedbacks</a> </li>
                <li> <a href="#">Blog </a> </li>
                <li> <a href="#">Use Cases</a> </li>
                <li> <a href="#">Advertise us</a> </li>
                <li> <a href="#">Discount</a> </li>
                <li> <a href="#">Vacations</a> </li>
                <li> <a href="#">Branding Offers </a> </li>
                <li> <a href="#">Contact Us</a> </li>
              </ul>
            </div>
            <div class="col-sm-4 foot-social foot-spec foot-com">
              <h4><span>Follow</span> with us</h4>
              <p>Join the thousands of other There are many variations of passages of Lorem Ipsum available</p>
              <ul>
                <li><a ><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a ><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                <li><a ><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a ><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a ><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>
  <!--====== FOOTER - COPYRIGHT ==========-->
  <section>
  <div class="rows copy">
  <div class="container">
    <p>Copyrights © 2021 Company Name. All Rights Reserved</p>
  </div>
  </div>
  </section>

