<app-header-user></app-header-user>

 <div class="tr-register">
    <div class="tr-regi-form">
      <h4>Forgot password</h4>

      <p-toast>Welcome Alii</p-toast>
      <form (submit)="ForgotPassword()" [formGroup]="form"    class="col s12">

      <span class="p-float-label" *ngIf="error">
        <label for="float-input-invalid" >{{error}} </label>
             </span>
        <div class="row">
          <div class="input-field col s12">
            <input  formControlName="email"  name="email" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
            <div class="text-left" *ngIf="form.get('email').touched && !form.get('email').valid">
              <div *ngIf="form.get('email').errors.required"></div>
              Email required

          </div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input  [disabled]="!form.valid"   type="submit" value="submit" class="waves-effect waves-light btn-large full-btn"> </div>
        </div>
      </form>




    </div>
  </div>

<app-footer-user></app-footer-user>
