// .sb2-1{
//   left: 0px !important;
// }
img{
  height: 50px !important;
}
.waves-effect img{
  height: 30px !important;
}
.dropdown-menu{
  position: absolute !important;

  width: 100px !important;
  height: 150px !important;
}
.max{
  // max-height: 50px;
}
.dropdown-toggle{
  // max-width: 50px!important;
}
