
<app-header></app-header>
<div class="container-fluid sb2">
  <div class="row">
    <app-sidebar></app-sidebar>
<div class="sb2-2">

  <div class="sb2-2-2">
      <ul>
          <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
          </li>
          <li class="active-bre"><a href="#"> Forms</a>
          </li>
      </ul>
  </div>

  <div class="sb2-2-3">
    <div class="row">


  <div class="d-flex flex-row">
    <p-dropdown *ngIf="Localrole"  [style]="{'justify-content' : 'flex-end !important' }" resetFilterOnHide="true" showClear="true" [(ngModel)]="SelectedSearchEtab" optionLabel="nom"  placeholder="Etablissements"  [options]="etablissements" optionValue="id" scrollHeigh="30px" [filter]="true" filterBy="nom"
    [showClear]="true"></p-dropdown>
  </div>

      <app-make-dynamic-form [questions]="questions$ | async" [SelectedSearchEtab]="SelectedSearchEtab"></app-make-dynamic-form>



    </div>
  </div>
</div>

</div>
</div>
