<app-header-user></app-header-user>

  <div class="tr-register">
    <div class="tr-regi-form">

      <p>It's free and always will be.</p>
      <p-toast>Welcome Alii</p-toast>
      <form  (submit)="ResetPassword()" [formGroup]="form"   class="col s12">

        <span class="p-float-label" *ngIf="error">
          <label for="float-input-invalid" >{{error}} </label>
               </span>
      <span class="p-float-label" *ngIf="error">
        <label for="float-input-invalid" >{{error}} </label>
             </span>
        <div class="row">
          <div class="input-field col s12">
            <input  formControlName="password" ngModel name="password" type="password" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Password">
            <input   formControlName="token" ngModel name="token" type="hidden" value=token class="form-control mb-4" placeholder="token">
            <div class="text-left" *ngIf="form.get('password').touched && !form.get('password').valid">
              <div *ngIf="form.get('password').errors.required"></div>
              Password required

          </div>

          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input  formControlName="confirm_password"   ngModel name="confirm_password" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Confirm Password">

            <label>ConfirmPassword</label>
            <div class="text-left" *ngIf="form.get('confirm_password').touched && !form.get('confirm_password').valid">
              <div *ngIf="form.get('confirm_password').errors.required"></div>
              Confirm Password required

          </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input  [disabled]="!form.valid"  type="submit" value="submit" class="waves-effect waves-light btn-large full-btn"> </div>
        </div>
      </form>




    </div>
  </div>

<app-footer-user></app-footer-user>
