<!--[style.background-color]="Etablissement.color" -->
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="ed-com-t1-left">
              <ul>
                  <li><a *ngIf="Etablissement" [style.color]="Etablissement.color">{{Etablissement.nom}}</a>
                  </li>

              </ul>
          </div>
          <div class="ed-com-t1-right">
              <ul>
                  <li><a  *ngIf="!isAuthenticated"  [routerLink]="['/Login']">Sign In</a>
                  <li><a  *ngIf="!isAuthenticated"  [routerLink]="['/Signup']">Sign Up</a>
                  </li>
                  <li><a [style.background-color]="Etablissement.color" *ngIf="isAuthenticated"  [routerLink]="['/Login']" (click)="Logout()">Sign Out</a>
                  </li>
                  <!-- <li><a href="register.html">Sign Up</a>
                  </li> -->
              </ul>
          </div>
          <!-- <div class="ed-com-t1-social">
              <ul>
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </li>
              </ul>
          </div> -->
      </div>
  </div>
</div>
