.imgclass{
  max-height: 100%;
  max-width: 100%;
}
.b_packages{
  cursor: pointer;
}

.carousel .item{
  height: 500px;
}

.carouselImg{
  width:100% !important;
  height:100% !important;
}

.hotel-book-room{
  margin-bottom:0px !important;
}

.v_pl_name{
  white-space: none;
}