<div class="sb2-1 BackG">
  <!--== USER INFO ==-->
  <div class="sb2-12 ">
      <ul class="BackG">
          <li><img  [src]='environment+"/storage/images/Users/"+photo'  alt="">
          </li>
          <li>
              <h5>{{username}}</h5>
          </li>
          <li></li>
      </ul>
  </div>
  <!--== LEFT MENU ==-->
  <div class="sb2-13 BackG ">
      <ul class="collapsible" data-collapsible="accordion">
         <!-- <li><a href="#index.html" class="menu-active"><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a>
          </li>-->
          <li><a [routerLink]="['/admin/users']" class="collapsible-header"><i class="fa fa-user" aria-hidden="true"></i> Users</a>

          </li>
          <li><a [routerLink]="['/admin/etab']"  class="collapsible-header"><i class="fa fa-home" aria-hidden="true"></i> Etablissements</a>

          </li>
          <li><a [routerLink]="['/admin/documents']" class="collapsible-header"><i class="fa fa-file-text" aria-hidden="true"></i> Documents</a>

          </li>
          <li><a [routerLink]="['/admin/documentSubjects']" class="collapsible-header"><i class="fa fa-file-text" aria-hidden="true"></i> Document subjects</a>

          </li>

          <li><a [routerLink]="['/admin/evenements']" class="collapsible-header"><i class="fa fa-calendar" aria-hidden="true"></i> Events</a>
          </li>

          <li><a [routerLink]="['/admin/eventType']" class="collapsible-header"><i class="fa fa-calendar" aria-hidden="true"></i> Events Types</a>
          </li>


          <li><a [routerLink]="['/admin/eventsList']" class="collapsible-header"><i class="fa fa-calendar" aria-hidden="true"></i>Events List </a>

          </li>


          <li><a  [routerLink]="['/admin/roles']" class="collapsible-header"><i class="fa fa-key" aria-hidden="true"></i> Role et Permissions</a>
              <!-- <div class="collapsible-body left-sub-menu">
                  <ul>
                      <li><a [routerLink]="['/admin/Roles']">All Roles & Permissions</a>
                      </li>
                      <li><a >Add New Roles</a>
                      </li>
                  </ul>
              </div> -->
          </li>
          <li><a  [routerLink]="['/admin/posts']"  class="collapsible-header"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Posts</a>

          </li>
          <li><a [routerLink]="['/admin/chats']" class="collapsible-header"><i class="fa fa-commenting-o" aria-hidden="true"></i> Group Chat</a>
            <li><a [routerLink]="['/admin/PrivateChat']" class="collapsible-header"><i class="fa fa-commenting-o" aria-hidden="true"></i> Private chat</a>

          </li>

            <li><a [routerLink]="['/admin/gallery']" class="collapsible-header"><i class="fa fa-picture-o" aria-hidden="true"></i> Gallery </a>

          </li>
          <li><a [routerLink]="['/admin/makeform']" class="collapsible-header"><i class="fa fa-plus-square" aria-hidden="true"></i> Make Forms </a>

              </li>

              <li><a [routerLink]="['/admin/listformulaire']" class="collapsible-header"><i class="fa fa-plus-square" aria-hidden="true"></i> Forms list </a>
                <li><a [routerLink]="['/admin/inputs']" class="collapsible-header"><i class="fa fa-plus-square" aria-hidden="true"></i> Forms elements </a>

                  </li>
       <!--   <li><a  class="collapsible-header"><i class="fa fa-tags" aria-hidden="true"></i> Offers</a>
              <div class="collapsible-body left-sub-menu">
                  <ul>
                      <li><a href="#offers.html">All Offers</a>
                      </li>
                      <li><a href="#offers-add.html">Add New Offers</a>
                      </li>
                  </ul>
              </div>
          </li>
          <li><a  class="collapsible-header"><i class="fa fa-ticket" aria-hidden="true"></i> Booking & Enquiry</a>
              <div class="collapsible-body left-sub-menu">
                  <ul>
                      <li><a href="#hotel-booking-all.html">Hotel</a>
                      </li>
                      <li><a href="#package-booking-all.html">Package</a>
                      </li>
                      <li><a href="#sight-see-booking-all.html">Sight Seeings</a>
                      </li>
                      <li><a href="#event-booking-all.html">Events</a>
                      </li>
                  </ul>
              </div>
          </li>
          <li><a  class="collapsible-header"><i class="fa fa-rss" aria-hidden="true"></i> Blog & Articals</a>
              <div class="collapsible-body left-sub-menu">
                  <ul>
                      <li><a href="#blog-all.html">All Blogs</a>
                      </li>
                      <li><a href="#blog-add.html">Add Blog</a>
                      </li>
                  </ul>
              </div>
          </li>
          <li><a href="#social-media.html"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Social Media</a>
          </li> -->
          <!-- <li><a href="#login.html" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
          </li> -->
      </ul>
  </div>
</div>
