<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CrcFront</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Quicksand:300,400,500"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="assets/TravelBack/css/font-awesome.min.css" />

    <link rel="stylesheet" href="assets/TravelBack/css/style.css" />
    <link rel="stylesheet" href="assets/TravelBack/css/mob.css" />
    <link rel="stylesheet" href="assets/TravelBack/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/TravelBack/css/materialize.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="assets/TravelFront/css/style.css" />
    <link rel="stylesheet" href="assets/TravelFront/css/materialize.css" />
    <link rel="stylesheet" href="assets/TravelFront/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/TravelFront/css/mob.css" />
    <link rel="stylesheet" href="assets/TravelFront/css/animate.css" />
  </head>
  <body>
    <app-root></app-root>
  </body>

  <script
    src="https://kit.fontawesome.com/709c735f64.js"
    crossorigin="anonymous"
  ></script>
  <script src="assets/TravelFront/js/jquery-latest.min.js"></script>
  <script src="assets/TravelFront/js/custom.js"></script>
  <script src="assets/TravelFront/js/bootstrap.js"></script>
  <script src="assets/TravelFront/js/wow.min.js"></script>
  <script src="assets/TravelFront/js/materialize.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
</html>

<!-- "./src/assets/TravelBack/css/font-awesome.min.css",
"./src/assets/TravelBack/css/mob.css",
"./src/assets/TravelBack/css/bootstrap.css",
"./src/assets/TravelBack/css/materialize.css",
"./src/assets/TravelBack/css/style.css",
"./src/assets/TravelFront/css/style.css",
"./src/assets/TravelFront/css/materialize.css",
"./src/assets/TravelFront/css/bootstrap.css",
"./src/assets/TravelFront/css/animate.css", -->
